<h3>HTML</h3>
<pre>```html
<div class="container">
  <div class="row">
    <div class="span12 offset3">
      <h1>Coderay Highlighter Examples</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="span12 offset3">
          <h1>Coderay Highlighter Examples</h1>
        </div>
        <div class="row">
          <div class="span9 offset3 site">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</pre>
