<h3>JavaScript</h3>
<pre>```javascript
module.exports = function(environment) {
  var ENV = {
    modulePrefix: 'library-app',
    environment: environment,
    baseURL: '/',
    locationType: 'auto',
  }
}
</pre>

