<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Job Vacancy - find the best jobs</title>
    <link rel="stylesheet" href="https://gist.githubusercontent.com/andrewpthorp/5134070/raw/d03c1ff2259f5829fc29c76dd466a0b38c890368/coderay.css"/>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
